/* -------------  1280  ------------- */

.content {
  max-width: 880px;
  margin: 40px 200px 0;
  padding: 0;
}

/* -------------  1152 ------------- */

/* 1152px */
@media screen and (max-width: 1152px) {
  .content {
    max-width: 792px;
    margin: 36px 180px 0;
    padding: 0;
  }
}

/* 1088px */
@media screen and (max-width: 1088px) {
  .content {
    max-width: 750px;
    margin: 36px 160px 0;
    padding: 0;
  }
}

/* -------------  1024  ------------- */

@media screen and (max-width: 1024px) {
  .content {
    max-width: 707px;
    margin: 34px 146px 0;
    padding: 0;
  }
}

/* -------------  896 ------------- */

@media screen and (max-width: 896px) {
  .content {
    max-width: 618px;
    margin: 30px 120px 0;
    padding: 0;
  }
}

/* -------------  768 ------------- */

@media screen and (max-width: 768px) {
  .content {
    max-width: 528px;
    margin: 26px 94px 0;
    padding: 0;
  }
}

/* -------------  656  ------------- */

@media screen and (max-width: 656px) {
  .content {
    max-width: 480px;
    margin: 24px 83px 0;
  }
}

/* -------------  544  ------------- */

@media screen and (max-width: 544px) {
  .content {
    max-width: 430px;
    margin: 22px 72px 0;
    padding: 0;
  }
}

/* -------------  432  ------------- */

@media screen and (max-width: 432px) {
  .content {
    max-width: 350px;
    margin: 18px 52px 0;
    padding: 0;
  }
}

/* -------------  375  ------------- */

@media screen and (max-width: 375px) {
  .content {
    max-width: 282px;
    margin: 42px 19px 0;
    padding: 0;
  }
}

/* -------------  320  ------------- */

@media screen and (max-width: 320px) {
  .content {
    max-width: 282px;
    margin: 42px 19px 0;
    padding: 0;
  }
}
