/* -------------  1280  ------------- */

/* form */

/* close-icon */

.form__button-close {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  background-image: url("../images/Close-Icon.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.form__button-close:hover {
  background-image: url("../images/Close-disable-Icon.png");
  cursor: pointer;
  top: -40px;
  right: -36px;
}

/* container */

.form {
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

/* fieldset */

.form__fieldset {
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1f;
  grid-template-areas:
    "title"
    "input"
    "button";
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  margin: 0;
  padding: 0;
}

/* title */

.form__title {
  grid-area: "title";
  max-width: 330px;
  max-height: 23px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background-color: #ffffff;
  margin: 34px auto 0 36px;
  padding: 0;
}

/* input */

.form__input {
  max-width: 358px;
  max-height: 84.04px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "activity";
  box-sizing: border-box;
  align-items: center;
  margin: 54px 36px 0;
  padding: 0;
}

/* name */

.form__input-name {
  grid-area: "name";
  width: 358px;
  height: 27.26px;
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* text */

.form__input-name_text {
  max-height: 14px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  outline: none;
  text-align: left;
  margin: 0;
  padding: 0 0 13.26px;
}

/* line 1 */

.form__input-name_line {
  max-width: 358px;
  max-height: 0px;
  width: 100%;
  opacity: 0.2;
  border: 1px solid #000000;
  outline: none;
  overflow: hidden;
  margin: 0 0 29.74px;
  padding: 0;
}

/* activity */

.form__input-activity {
  grid-area: "activity";
  width: 358px;
  height: 27.34px;
  margin: 0;
  padding: 0;
}

.form__input-activity_text {
  max-height: 14px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  padding: 0 0 13.34px;
}

/* line 2 */

.form__input-activity_line {
  max-width: 358px;
  max-height: 0px;
  width: 100%;
  opacity: 0.2;
  border: 1px solid #000000;
  margin: 0;
  padding: 0;
}

/* submit button */

.form__submit-button {
  max-width: 358px;
  max-height: 50.15px;
  margin: 48px 36px 36.51px;
  background-color: #000000;
  border-radius: 2px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.form__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.form__submit-button-text {
  max-width: 109px;
  max-height: 18px;
  width: 100%;
  height: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  margin: 13.66px 124px 18.49px 125px;
}

/* -------------  1152  ------------- */

@media screen and (max-width: 1152px) {
  /* form */

  /* close-icon */

  .form__button-close {
    max-width: 36px;
    max-height: 36px;
    top: -36px;
    right: -36px;
  }

  .form__button-close:hover {
    top: -36px;
    right: -36px;
  }

  /* container */

  .form {
    max-width: 387px;
    max-height: 297px;
    border-radius: 9px;
  }

  /* fieldset */

  .form__fieldset {
    max-width: 387px;
    max-height: 297px;
    border-radius: 9px;
  }

  /* title */

  .form__title {
    max-width: 297px;
    max-height: 20.7px;
    font-size: 21.6px;
    line-height: 26.1px;
    margin: 30.6px auto 0 32.4px;
  }

  /* input */

  .form__input {
    max-width: 322.2px;
    max-height: 75.63px;
    margin: 48.6px 32.4px 0;
  }

  /* name */

  .form__input-name {
    width: 322.2px;
    height: 24.53px;
  }

  /* text */

  .form__input-name_text {
    max-height: 12.6px;
    font-size: 12.6px;
    line-height: 15.3px;
    padding: 0 0 11.93px;
  }

  /* line 1 */

  .form__input-name_line {
    max-width: 322.2px;
    margin: 0 0 26.76px;
  }

  /* activity */

  .form__input-activity {
    width: 322.2px;
    height: 24.6px;
  }

  .form__input-activity_text {
    max-height: 12.6px;
    font-size: 12.6px;
    line-height: 15.3px;
    padding: 0 0 12px;
  }

  /* line 2 */

  .form__input-activity_line {
    max-width: 322.2px;
  }

  /* submit button */

  .form__submit-button {
    max-width: 322.2px;
    max-height: 45.13px;
    margin: 43.2px 32.4px 32.85px;
    border-radius: 1.8px;
  }

  .form__submit-button-text {
    max-width: 98.1px;
    max-height: 16.2px;
    font-size: 16.2px;
    line-height: 19.8px;
    margin: 12.29px 111.6px 16.64px 112.5px;
  }
}

/* -------------  1088  ------------- */

@media screen and (max-width: 1088px) {
  /* form */

  /* close-icon */

  .form__button-close {
    max-width: 33.99px;
    max-height: 33.99px;
    top: -33.44px;
    right: -33.44px;
  }

  .form__button-close:hover {
    top: -33.44px;
    right: -33.44px;
  }

  /* container */

  .form {
    max-width: 365.48px;
    max-height: 280.48px;
    border-radius: 8.49px;
  }

  /* fieldset */

  .form__fieldset {
    max-width: 365.48px;
    max-height: 280.48px;
    border-radius: 8.49px;
  }

  /* title */

  .form__title {
    max-width: 280.48px;
    max-height: 19.54px;
    font-size: 20.39px;
    line-height: 24.64px;
    margin: 28.89px auto 0 30.59px;
  }

  /* input */

  .form__input {
    max-width: 304.28px;
    max-height: 71.42px;
    margin: 45.89px 30.59px 0;
  }

  /* name */

  .form__input-name {
    width: 304.28px;
    height: 23.16px;
  }

  /* text */

  .form__input-name_text {
    max-height: 11.89px;
    font-size: 11.89px;
    line-height: 14.44px;
    padding: 0 0 11.26px;
  }

  /* line 1 */

  .form__input-name_line {
    max-width: 304.28px;
    margin: 0 0 25.27px;
  }

  /* activity */

  .form__input-activity {
    width: 304.28px;
    height: 23.23px;
  }

  .form__input-activity_text {
    max-height: 11.89px;
    font-size: 11.89px;
    line-height: 14.44px;
    padding: 0 0 11.33px;
  }

  /* line 2 */

  .form__input-activity_line {
    max-width: 304.28px;
  }

  /* submit button */

  .form__submit-button {
    max-width: 304.28px;
    max-height: 42.62px;
    margin: 40.79px 30.59px 31.02px;
    border-radius: 1.69px;
  }

  .form__submit-button-text {
    max-width: 92.64px;
    max-height: 15.29px;
    font-size: 15.29px;
    line-height: 18.69px;
    margin: 11.6px 105.39px 15.71px 106.24px;
  }
}

/* -------------  1024  ------------- */

@media screen and (max-width: 1024px) {
  /* form */

  /* close-icon */

  .form__button-close {
    max-width: 31.98px;
    max-height: 31.98px;
    top: -31.47px;
    right: -31.47px;
  }

  .form__button-close:hover {
    top: -31.47px;
    right: -31.47px;
  }

  /* container */

  .form {
    max-width: 343.95px;
    max-height: 263.95px;
    border-radius: 7.98px;
  }

  /* fieldset */

  .form__fieldset {
    max-width: 343.95px;
    max-height: 263.95px;
    border-radius: 7.98px;
  }

  /* title */

  .form__title {
    max-width: 263.95px;
    max-height: 18.38px;
    font-size: 19.18px;
    line-height: 23.18px;
    margin: 27.18px auto 0 28.78px;
  }

  /* input */

  .form__input {
    max-width: 286.35px;
    max-height: 67.21px;
    margin: 43.18px 28.78px 0;
  }

  /* name */

  .form__input-name {
    width: 286.35px;
    height: 21.79px;
  }

  /* text */

  .form__input-name_text {
    max-height: 11.18px;
    font-size: 11.18px;
    line-height: 13.58px;
    padding: 0 0 10.59px;
  }

  /* line 1 */

  .form__input-name_line {
    max-width: 286.35px;
    margin: 0 0 23.78px;
  }

  /* activity */

  .form__input-activity {
    width: 286.35px;
    height: 21.86px;
  }

  .form__input-activity_text {
    max-height: 11.18px;
    font-size: 11.18px;
    line-height: 13.58px;
    padding: 0 0 10.66px;
  }

  /* line 2 */

  .form__input-activity_line {
    max-width: 286.35px;
  }

  /* submit button */

  .form__submit-button {
    max-width: 286.35px;
    max-height: 40.1px;
    margin: 38.38px 28.78px 29.19px;
    border-radius: 1.59px;
  }

  .form__submit-button-text {
    max-width: 87.18px;
    max-height: 14.38px;
    font-size: 14.38px;
    line-height: 10.58px;
    margin: 10.91px 99.18px 14.78px 99.98px;
  }
}

/* -------------  375  ------------- */

@media screen and (max-width: 375px) {
  /* form */

  /* close-icon */

  .form__button-close {
    max-width: 30.46px;
    max-height: 30.46px;
    top: -58.59px;
    right: 0px;
  }

  .form__button-close:hover {
    top: -58.59px;
    right: -1px;
  }

  /* container */

  .form {
    max-width: 330.44px;
    max-height: 377.31px;
  }

  /* fieldset */

  .form__fieldset {
    max-width: 330.44px;
    max-height: 377.31px;
  }

  /* title */

  .form__title {
    max-width: 278.88px;
    max-height: 25.77px;
    font-size: 21.09px;
    line-height: 25.77px;
    margin: 29.29px auto 0 16.52px;
  }

  /* input */

  .form__input {
    max-width: 278.88px;
    max-height: 96.08px;
    margin: 89.05px auto 0;
  }

  /* name */

  .form__input-name {
    width: 278.88px;
    height: 30.46px;
  }

  /* text */

  .form__input-name_text {
    max-height: 19.92px;
    padding: 0 0 10.54px;
  }

  /* line 1 */

  .form__input-name_line {
    max-width: 278.88px;
    margin: 0 0 35.15px;
  }

  /* activity */

  .form__input-activity {
    width: 278.88px;
    height: 30.46px;
  }

  .form__input-activity_text {
    max-height: 19.92px;
    padding: 0 0 10.54px;
  }

  /* line 2 */

  .form__input-activity_line {
    max-width: 278.88px;
  }

  /* submit button */

  .form__submit-button {
    max-width: 278.88px;
    max-height: 53.9px;
    margin: 53.9px 16.52px 29.29px;
  }

  .form__submit-button-text {
    max-width: 53.9px;
    max-height: 21.09px;
    font-size: 16.4px;
    line-height: 19.92px;
    margin: 16.4px 112.49px;
  }
}

/* -------------  320  ------------- */

@media screen and (max-width: 320px) {
  /* form */

  /* close-icon */

  .form__button-close {
    max-width: 26px;
    max-height: 26px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    top: -50px;
    right: 3px;
  }

  .form__button-close:hover {
    max-width: 26px;
    max-height: 26px;
    top: -50px;
    right: 3px;
  }

  /* container */

  .form {
    max-width: 282px;
    max-height: 322px;
  }

  /* fieldset */

  .form__fieldset {
    max-width: 282px;
    max-height: 322px;
  }

  /* title */

  .form__title {
    max-width: 238px;
    max-height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 0 14.1px;
  }

  /* input */

  .form__input {
    max-width: 238px;
    max-height: 82px;
    margin: 76px auto 0;
  }

  /* name */

  .form__input-name {
    width: 238px;
    height: 26px;
  }

  /* text */

  .form__input-name_text {
    max-height: 17px;
    padding: 0 0 9px;
  }

  /* line 1 */

  .form__input-name_line {
    max-width: 238px;
    margin: 0 0 30px;
  }

  /* activity */

  .form__input-activity {
    width: 238px;
    height: 26px;
  }

  .form__input-activity_text {
    max-height: 17px;
    padding: 0 0 9px;
  }

  /* line 2 */

  .form__input-activity_line {
    max-width: 238px;
  }

  /* submit button */

  .form__submit-button {
    max-width: 238px;
    max-height: 46px;
    margin: 46px 14.1px 25px;
  }

  .form__submit-button-text {
    max-width: 46px;
    max-height: 18px;
    font-size: 14px;
    line-height: 17px;
    margin: 14px 96px;
  }
}
