/* -------------  bloco header  ------------- */

/* 1280 */

.header {
  max-width: 880px;
  max-height: 74px;
  margin: 45px 200px 0;
  padding: 0;
}

/* Vector */

.header__vector {
  max-width: 173px;
  max-height: 33px;
  margin: 0;
  padding: 0;
}

.header__vector-image {
  background-image: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line */

.header__line {
  max-width: 880px;
  max-height: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border: 1px solid #545454;
  margin: 41px 0 0;
  padding: 0;
}

/* -------------  breackpoint  ------------- */

/* 1152 */

@media screen and (max-width: 1152px) {
  /* Header */

  .header {
    max-width: 792px;
    max-height: 66.6px;
    margin: 40.5px 180px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 155.7px;
    max-height: 27.9px;
  }

  /* line */

  .header__line {
    max-width: 792px;
    margin: 36.9px 0 0;
  }
}

/* 1088 */

@media screen and (max-width: 1088px) {
  /* Header */

  .header {
    max-width: 747.96px;
    max-height: 62.89px;
    margin: 38.24px 169.99px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 147.04px;
    max-height: 26.34px;
  }

  /* line */

  .header__line {
    max-width: 747.96px;
    margin: 34.84px 0 0;
  }
}

/* 1024 */

@media screen and (max-width: 1024px) {
  /* Header */

  .header {
    max-width: 703.9px;
    max-height: 59.18px;
    margin: 35.98px 159.97px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 138.37px;
    max-height: 24.78px;
  }

  /* line */

  .header__line {
    max-width: 703.9px;
    margin: 32.78px 0 0;
  }
}

/* 896 */

@media screen and (max-width: 896px) {
  /* Header */

  .header {
    max-width: 615.91px;
    max-height: 51.78px;
    margin: 31.48px 139.97px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 121.07px;
    max-height: 21.68px;
  }

  /* line */

  .header__line {
    max-width: 615.91px;
    margin: 28.68px 0 0;
  }
}

/* 768 */

@media screen and (max-width: 768px) {
  /* Header */

  .header {
    max-width: 527.89px;
    max-height: 44.38px;
    margin: 26.98px 119.96px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 103.76px;
    max-height: 18.58px;
  }

  /* line */

  .header__line {
    max-width: 527.89px;
    margin: 24.58px 0 0;
  }
}

/* 656 */

@media screen and (max-width: 656px) {
  /* Header */

  .header {
    max-width: 450.87px;
    max-height: 37.9px;
    margin: 23.04px 102.45px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 88.62px;
    max-height: 15.86px;
  }

  /* line */

  .header__line {
    max-width: 450.87px;
    margin: 20.99px 0 0;
  }
}

/* 544 */

@media screen and (max-width: 544px) {
  /* Header */

  .header {
    max-width: 373.86px;
    max-height: 31.42px;
    margin: 19.1px 84.95px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 73.48px;
    max-height: 13.15px;
  }

  /* line */

  .header__line {
    max-width: 373.86px;
    margin: 17.4px 0 0;
  }
}

/* -------------  breackpoint  ------------- */

@media screen and (max-width: 432px) {
  /* Header */

  .header {
    max-width: 296.88px;
    max-height: 24.95px;
    margin: 15.16px 67.45px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 58.35px;
    max-height: 10.44px;
  }

  /* line */

  .header__line {
    max-width: 296.88px;
    margin: 13.81px 0 0;
  }
}

/* 375 */

@media screen and (max-width: 375px) {
  /* Header */

  .header {
    max-width: 330px;
    max-height: 57px;
    margin: 29px 10px 0;
  }

  /* Vector */

  .header__vector {
    max-width: 128px;
    max-height: 24px;
  }

  /* line */

  .header__line {
    max-width: 330px;
    margin: 32px 0 0;
  }
}

/* 320 */

@media screen and (max-width: 320px) {
  /* Header */

  .header {
    max-width: 320px;
    max-height: 56px;
    margin: 28px 0 42px;
  }

  /* Vector */

  .header__vector {
    max-width: 126px;
    max-height: 24px;
    margin: 0 auto 0 27px;
  }

  /* line */

  .header__line {
    max-width: 320px;
    margin: 32px 0 0;
  }
}
