/* -------------  1280  ------------- */

/* modal */

.popup {
  max-width: 1280px;
  max-height: 750px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
}

.popup_is-opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.popup_is-opened::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* form */

.popup__form {
  max-width: 430px;
  max-height: 330px;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
}

/* -------------  1152  ------------- */

@media screen and (max-width: 1152px) {
  /* modal */

  .popup {
    max-width: 1152px;
    max-height: 675px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  /* form */

  .popup__form {
    max-width: 387px;
    max-height: 297px;
  }
}

/* -------------  1088  ------------- */

@media screen and (max-width: 1088px) {
  /* modal */

  .popup {
    max-width: 1088px;
    max-height: 637.47px;
  }

  /* form */

  .popup__form {
    max-width: 365.48px;
    max-height: 280.48px;
  }
}

/* -------------  1024  ------------- */

@media screen and (max-width: 1024px) {
  /* modal */

  .popup {
    max-width: 1024px;
    max-height: 599.92px;
  }

  /* form */

  .popup__form {
    max-width: 343.95px;
    max-height: 263.95px;
  }
}

/* -------------  375  ------------- */

@media screen and (max-width: 375px) {
  /* modal */

  .popup {
    max-width: 375px;
    max-height: 665.58px;
    top: 0;
    left: 0;
  }

  /* form */

  .popup__form {
    max-width: 330.44px;
    max-height: 377.31px;
    width: 87.4%;
    margin: 144.13px auto 0;
  }
}

/* -------------  320  ------------- */

@media screen and (max-width: 320px) {
  /* modal */

  .popup {
    max-width: 320px;
    max-height: 568px;
  }

  /* form */

  .popup__form {
    max-width: 282px;
    max-height: 322px;
    width: 87.4%;
    margin: 123px auto 0;
  }
}
