/* -------------  1280  ------------- */

/* modal */

.popup {
  max-width: 1280px;
  max-height: 750px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  box-sizing: content-box;
  position: fixed;
  top: 0;
}

.popup_is-opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.popup_is-opened::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#new-card-popup {
  max-height: 720px;
}

#image-popup {
  max-height: 720px;
}

/* content */

.popup__content {
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.popup__content_image {
  max-width: 433px;
  max-height: 540px;
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 0;
  margin: 90px auto;
  padding: 0;
  position: relative;
}

.popup__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.popup__caption {
  max-width: 291px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background-color: transparent;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}

/* close-icon */

.popup__close-button {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  background-image: url("../images/Close-Icon.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* title */

.popup__title {
  max-width: 330px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background-color: #ffffff;
  margin: 34px 64px 0 36px;
  padding: 0;
}

/* form */

.popup__form {
  max-width: 358px;
  max-height: 182.49px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  outline: none;
  margin: 54px auto 0;
  padding: 0;
}

/* input */

.popup__input {
  width: 358px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 0;
}

.popup__input_type_name,
.popup__input_type_card-name {
  margin: 0;
}

.popup__input_type_activity,
.popup__input_type_url {
  margin: 29.74px 0 0;
}

.popup__line {
  max-width: 358px;
  max-height: 0px;
  width: 100%;
  opacity: 0.2;
  border: 1px solid #000000;
  outline: none;
  overflow: hidden;
  padding: 0;
}

.popup__line_name {
  margin: 13.26px 0 0;
}

.popup__line_activity {
  margin: 13.34px 0 0;
}

/* submit button */

.popup__button {
  max-width: 358px;
  max-height: 50.15px;
  width: 100%;
  height: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  margin: 48px auto 0;
  padding: 0;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* -------------  1152  ------------- */

@media screen and (max-width: 1152px) {
  /* modal */

  .popup {
    max-width: 1152px;
    max-height: 675px;
    width: 90%;
  }

  #new-card-popup {
    max-height: 648px;
  }

  #image-popup {
    max-height: 648px;
  }

  /* content */

  .popup__content {
    max-width: 387px;
    max-height: 297px;
    border-radius: 9px;
  }

  .popup__content_image {
    max-width: 389.7px;
    max-height: 486px;
    margin: 81px auto;
  }

  .popup__caption {
    max-width: 261.9px;
    font-size: 10.8px;
    line-height: 13.5px;
    top: calc(100% + 9px);
  }

  /* close-icon */

  .popup__close-button {
    max-width: 36px;
    max-height: 36px;
    top: -36px;
    right: -36px;
  }

  /* title */

  .popup__title {
    max-width: 297px;
    font-size: 21.6px;
    line-height: 26.1px;
    margin: 30.6px auto 0 32.4px;
  }

  /* form */

  .popup__form {
    max-width: 322.2px;
    max-height: 164.24px;
    margin: 48.6px auto 0;
  }

  /* input */

  .popup__input {
    width: 322.2px;
    font-size: 12.6px;
    line-height: 15.3px;
  }

  .popup__input_type_name,
  .popup__input_type_card-name {
    margin: 0;
  }

  .popup__input_type_activity,
  .popup__input_type_url {
    margin: 26.76px 0 0;
  }

  /* line */

  .popup__line {
    max-width: 322.2px;
  }

  .popup__line_name {
    margin: 11.93px 0 0;
  }

  .popup__line_activity {
    margin: 12px 0 0;
  }

  /* submit button */

  .popup__button {
    max-width: 322.2px;
    max-height: 45.13px;
    font-size: 16.2px;
    line-height: 19.8px;
    border-radius: 1.8px;
    margin: 43.2px auto 0;
  }
}

/* -------------  1088  ------------- */

@media screen and (max-width: 1088px) {
  /* modal */

  .popup {
    max-width: 1088px;
    max-height: 637.47px;
    width: 85%;
  }

  #new-card-popup {
    max-height: 611.97px;
  }

  #image-popup {
    max-height: 611.97px;
  }

  /* content */

  .popup__content {
    max-width: 365.48px;
    max-height: 280.48px;
    border-radius: 8.49px;
  }

  .popup__content_image {
    max-width: 368.03px;
    max-height: 458.97px;
    margin: 76.49px auto;
  }

  .popup__caption {
    max-width: 247.33px;
    font-size: 10.19px;
    line-height: 12.74px;
    top: calc(100% + 8.49px);
  }

  /* close-icon */

  .popup__close-button {
    max-width: 33.99px;
    max-height: 33.99px;
    top: -33.44px;
    right: -33.44px;
  }

  /* title */

  .popup__title {
    max-width: 280.48px;
    font-size: 20.39px;
    line-height: 24.64px;
    margin: 28.89px auto 0 30.59px;
  }

  /* form */

  .popup__form {
    max-width: 304.28px;
    max-height: 155.1px;
    margin: 45.89px auto 0;
  }

  /* input */

  .popup__input {
    width: 304.28px;
    font-size: 11.89px;
    line-height: 14.44px;
  }

  .popup__input_type_name,
  .popup__input_type_card-name {
    margin: 0;
  }

  .popup__input_type_activity,
  .popup__input_type_url {
    margin: 25.27px 0 0;
  }

  /* line */

  .popup__line {
    max-width: 304.28px;
  }

  .popup__line_name {
    margin: 11.26px 0 0;
  }

  .popup__line_activity {
    margin: 11.33px 0 0;
  }

  /* submit button */

  .popup__button {
    max-width: 304.28px;
    max-height: 42.62px;
    border-radius: 1.69px;
    font-size: 15.29px;
    line-height: 18.69px;
    margin: 40.79px auto 0;
  }
}

/* -------------  1024  ------------- */

@media screen and (max-width: 1024px) {
  /* modal */

  .popup {
    max-width: 1024px;
    max-height: 599.92px;
    width: 80%;
  }

  #new-card-popup {
    max-height: 575.92px;
  }

  #image-popup {
    max-height: 575.92px;
  }

  /* content */

  .popup__content {
    max-width: 343.95px;
    max-height: 263.95px;
    border-radius: 7.98px;
  }

  .popup__content_image {
    max-width: 346.35px;
    max-height: 431.93px;
    margin: 71.98px auto;
  }

  .popup__caption {
    max-width: 232.76px;
    font-size: 9.58px;
    line-height: 11.98px;
    top: calc(100% + 7.98px);
  }

  /* close-icon */

  .popup__close-button {
    max-width: 31.98px;
    max-height: 31.98px;
    top: -31.47px;
    right: -31.47px;
  }

  /* title */

  .popup__title {
    max-width: 263.95px;
    font-size: 19.18px;
    line-height: 23.18px;
    margin: 27.18px auto 0 28.78px;
  }

  /* form */

  .popup__form {
    max-width: 286.35px;
    max-height: 145.96px;
    margin: 43.18px auto 0;
  }

  /* input */

  .popup__input {
    width: 286.35px;
    font-size: 11.18px;
    line-height: 13.58px;
  }

  .popup__input_type_name,
  .popup__input_type_card-name {
    margin: 0;
  }

  .popup__input_type_activity,
  .popup__input_type_url {
    margin: 23.78px 0 0;
  }

  /* line */

  .popup__line {
    max-width: 286.35px;
  }

  .popup__line_name {
    margin: 10.59px 0 0;
  }

  .popup__line_activity {
    margin: 10.66px 0 0;
  }

  /* submit button */

  .popup__button {
    max-width: 286.35px;
    max-height: 40.1px;
    border-radius: 1.59px;
    font-size: 14.38px;
    line-height: 10.58px;
    margin: 38.38px auto 0;
  }
}

/* -------------  896  ------------- */

@media screen and (max-width: 896px) {
  /* modal */

  .popup {
    width: 70%;
  }
}

/* -------------  768  ------------- */

@media screen and (max-width: 768px) {
  /* modal */

  .popup {
    width: 60%;
  }
}

/* -------------  656  ------------- */

@media screen and (max-width: 656px) {
  /* modal */

  .popup {
    width: 70%;
  }
}

/* -------------  544  ------------- */

@media screen and (max-width: 544px) {
  /* modal */

  .popup {
    width: 80%;
  }
}

/* -------------  432  ------------- */

@media screen and (max-width: 432px) {
  /* modal */

  .popup {
    width: 85%;
  }
}

/* -------------  375  ------------- */

@media screen and (max-width: 375px) {
  /* modal */

  .popup {
    max-width: 375px;
    max-height: 665.58px;
    width: 90%;
  }

  #new-card-popup {
    max-height: 665.58px;
  }

  #image-popup {
    max-height: 665.58px;
  }

  /* content */

  .popup__content {
    max-width: 330.44px;
    max-height: 377.31px;
    margin: 144.13px auto 0;
  }

  .popup__content_image {
    max-width: 281.23px;
    max-height: 350.36px;
    margin: 136px auto 133px;
  }
  .popup__caption {
    max-width: 240px;
    top: calc(100% + 10px);
  }

  /* close-icon */

  .popup__close-button {
    max-width: 30.46px;
    max-height: 30.46px;
    top: -58.59px;
    right: 0px;
  }

  /* title */

  .popup__title {
    max-width: 278.88px;
    font-size: 21.09px;
    line-height: 25.77px;
    margin: 29.29px auto 0 16.52px;
  }

  /* form */

  .popup__form {
    max-width: 278.88px;
    max-height: 292.95px;
    margin: 89.05px auto 0;
  }

  /* input */

  .popup__input {
    width: 278.88px;
  }

  .popup__input_type_name,
  .popup__input_type_card-name {
    margin: 0;
  }

  .popup__input_type_activity,
  .popup__input_type_url {
    margin: 35.15px 0 0;
  }

  /* line */

  .popup__line {
    max-width: 278.88px;
  }

  .popup__line_name {
    margin: 10.54px 0 0;
  }

  .popup__line_activity {
    margin: 10.54px 0 0;
  }

  /* submit button */

  .form__submit-button {
    max-width: 278.88px;
    max-height: 53.9px;
    font-size: 16.4px;
    line-height: 19.92px;
    margin: 53.9px auto 0;
  }
}

/* -------------  320  ------------- */

@media screen and (max-width: 320px) {
  /* modal */

  .popup {
    max-width: 320px;
    max-height: 568px;
    width: 100%;
  }

  #new-card-popup {
    max-height: 568px;
  }

  #image-popup {
    max-height: 568px;
  }

  /* content */

  .popup__content {
    max-width: 282px;
    max-height: 322px;
    width: 87.4%;
    margin: 123px auto 0;
  }

  .popup__content_image {
    max-width: 240px;
    max-height: 299px;
    margin: 136px auto 133px;
  }

  .popup__caption {
    max-width: 240px;
    top: calc(100% + 10px);
  }

  /* close-icon */

  .popup__close-button {
    max-width: 26px;
    max-height: 26px;
    top: -50px;
    right: 3px;
  }

  /* title */

  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 0 14.1px;
  }

  /* form */

  .popup__form {
    max-width: 238px;
    max-height: 250px;
    margin: 76px auto 0;
  }

  /* input */

  .popup__input {
    width: 238px;
  }

  .popup__input_type_name,
  .popup__input_type_card-name {
    margin: 0;
  }

  .popup__input_type_activity,
  .popup__input_type_url {
    margin: 30px 0 0;
  }

  /* line */

  .popup__line {
    max-width: 238px;
  }

  .popup__line_name {
    margin: 9px 0 0;
  }

  .popup__line_activity {
    margin: 9px 0 0;
  }

  /* submit button */

  .form__submit-button {
    max-width: 238px;
    max-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 46px auto 0;
  }
}
