/* -------------  root page  ------------- */

* {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

/* -------------  body  ------------- */

body {
  width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0;
}
